/*Title/Main input area*/
body{
    text-align:center;
    background-color:#e3eedd;
    /* display:flex;
    align-items: center;
    justify-content: center; */
}
h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#001821;
}
.sameTxtOne{
    color:black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*Definition*/
p{
    color:#001821;
}